/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F5E8C7; /* Creamy Beige */
    color: #4A2C2A; /* Deep Espresso Brown */
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
}

.heading {
    color: #4A2C2A; /* Deep Espresso Brown */
    font-family: 'Dancing Script', cursive;
    font-size: 3em;
}

.book-title h1 {
    color: #F5E8C7; /* Creamy Beige */
    font-family: 'Dancing Script', cursive;
    font-size: 6em;
}

/* Header Styles */
.header {
    /*background-color: #4A2C2A; Espresso Brown */
    color: #F5E8C7; /* Creamy Beige */
    padding: 1rem;
    text-align: center;
}

.header-nav {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    list-style-type: none;
    margin-bottom: 10%;
}

.header-nav-item {
    margin: 0 15px;
}

.header-nav-link {
    text-decoration: none;
    color: #F5E8C7; /* Creamy Beige */
    font-weight: bold;
    font-family: 'Playfair Display', serif;
}

.header-nav-link:hover {
    color: #F1C27D; /* Soft Golden Glow */
    text-decoration: underline;
}


/* Sections */
.logo-section {
    background-color: #4A2C2A; /* Deep Espresso Brown */
}

.logo-section-image {
    grid-column: span 6; /* Spans 6 columns */
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.section {
    background-color: #F5E8C7 !important;
}

/* Footer */
.footer {
    background-color: #4A2C2A; /* Espresso Brown */
    color: #F5E8C7; /* Creamy Beige */
    text-align: center;
    padding: 3rem;
}

