/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F5E8C7; /* Creamy Beige */
    color: #4A2C2A; /* Deep Espresso Brown */
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
}

.logo {
    width: 10rem !important;
    height: auto !important;
}

.navbar {
    background-color: black;
}

.navbar-item {
    color: #fff;
    font-family: 'Merriweather', serif; /* Serif font for the tagline */
    background-color: transparent;
    padding: 1rem;
}

.navbar-item:hover {
    color: rgb(241, 194, 125);
    border-bottom: 3px solid white;
}

.active {
    color: rgb(241, 194, 125);
    font-family: 'Merriweather', serif; /* Serif font for the tagline */
    background-color: transparent;
    padding: 1rem;
    border-bottom: 3px solid rgb(241, 194, 125) !important;
}

.heading {
    color: #4A2C2A; /* Deep Espresso Brown */
    font-family: 'Dancing Script', cursive;
    font-size: 3em;
}

.book-title h1 {
    color: #F5E8C7; /* Creamy Beige */
    font-family: 'Dancing Script', cursive;
    font-size: 6em;
}

.light-bg {
    background-color: #F5E8C7;
    color: #4A2C2A;
}

.dark-bg {
    background-color: #90553C;
    color: #F5E8C7 !important;
}

.medium-bg {
    background-color: #68260d;
    color: #F5E8C7 !important;
}

/* Footer */
.footer {
    background-color: #4A2C2A; /* Espresso Brown */
    color: #F5E8C7; /* Creamy Beige */
    text-align: center;
    padding: 3rem;
}

