@media (max-width: 460px) {
    .menu-item span:first-child {
        text-align: left;
        text-wrap: balance !important;
    }

    .sessions p {
        font-size: .9rem;
    }
}

/* Membership sections */
.pricing-section {
    background: #F5E8C7;
    border-radius: 12px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 2rem;
}

.pricing-section:hover {
    transform: translateY(-10px);
}

.pricing-section h1 {
    color: #90553C;
    font-family: 'Dancing Script', cursive;
    font-size: 3em;
}

.price {
    display: block;
    margin-top: 10px;
    font-size: 1.5rem;
    font-family: 'Playfair Display', serif;
    color: #01452f;
    font-weight: bold;
    padding: 13px 18px;
    border: 1px solid #90553C;
}

.note {
    font-family: 'Playfair Display', serif;
    font-size: 1.3rem;
}

.color-transition {
    transition: color 0.5s ease, background-color 0.5s ease;
}

.color-transition:hover {
    background-color: #4A2C2A;
}

.color-transition:hover p {
    color: #F5E8C7;
}

/* Products sections */
.products-section {
    background-color: #BDAEBC;
    color: #000;
}

.products-section p {
    font-family: 'Playfair Display', serif;
    color: #4A2C2A;
    font-size: 1.2rem;
}

.products-image {
    border: 7px solid #F5E8C7;
}

.menu-heading {
    text-align: center;
    width: 100%;
    color: #4A2C2A;
    font-family: 'Dancing Script', cursive;
    font-size: 3em;
    border-bottom: 2px solid rgba(74, 44, 42, 0.4);
}

.sponsor-heading {
    text-align: center;
    width: 100%;
    color: #4A2C2A;
    font-family: 'Dancing Script', cursive;
    font-size: 3em;
}

.menu-column {
    flex: 1 1 calc(50% - 20px);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.menu-item {
    color: #4A2C2A;
    font-family: 'Playfair Display', serif;
    font-size: 1.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-item span:first-child {
    text-align: left;
    text-wrap: nowrap;
}

.dot {
    border-bottom: dotted 2px #4A2C2A;
    width: 100%;
    float: left;
    position: relative;
    display: block;
    height: 20px;
    margin: 0 5px 0 5px;
}

.dot div:first-child,
.dot div:last-child {
    float: left;
}

/* About us */
.sessions ul,
.sessions li {
    list-style: none;
    padding: 0;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    background: #4A2C2A;
    padding: 3rem 0;
}

.contact-wrapper {
    background: #F5E8C7;
    padding: 2rem;
    border-radius: 15px;
}

.contact-heading {
    color: #4A2C2A; /* Deep Espresso Brown */
    font-family: 'Dancing Script', cursive;
    font-size: 3em;
    text-align: center;
}

.contact-paragraph {
    color: #4f4f4f;
    font-family: 'Playfair Display', sans-serif;
    line-height: 1.5;
    margin-top: 0.4rem;
    font-size: 1.1rem;
    text-align: center;
}